@font-face {
   font-family: 'SF Pro Display';
   src: url('../public/Fonts/SFPRODISPLAYBOLD.OTF') format('truetype');
   font-weight: 700;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url('../public/Fonts/FontsFree-Net-SFProDisplay-Semibold.ttf') format('truetype');
   font-weight: 500;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url('../public/Fonts/FontsFree-Net-SFProDisplay-light.ttf') format('truetype');
   font-weight: 400;
}